dx-text-box:not(.dx-searchbox) {
    .dx-texteditor-input {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
    }

    .dx-placeholder {
        &:before {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }
    }
}
